In [1]:
##Q1. Explain with an example each when to use a for loop and a while loop.
## A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).
##Example
l = [2,3,4,5,6,7,8,9]
for i in l:
    print(i+1)

3
4
5
6
7
8
9
10

In [2]:
##Ans. 1B
## With the while loop we can execute a set of statements as long as a condition is true.
##Example 
i = 1
while i < 6:
    print(i)
    i = i+1

1
2
3
4
5

In [3]:
##Q2. Write a python program to print the sum and product of the first 10 natural numbers using for and while loop.

In [4]:
##python program to print sum of first 10 natural number using for loop
sum = 0
for i in range (1,11):
    sum = sum + i
print(sum)

55

In [5]:
##python program to print product of first 10 natural number using for loop
product = 1
for i in range(1,11):
    product = product *i
print(product)

3628800

In [6]:
##python program to print sum of first 10 natural number using while loop
n = 10
sum = 0
i = 1
while i<= n:
    sum = sum + i
    i = i+1
print(sum)

55

In [7]:
##python program to print product of first 10 natural number using while loop
n = 10
product = 1
i = 1
while i<=10:
    product = product * i
    i = i+1
print(product)

3628800

In [8]:
##Q3. Create a python program to compute the electricity bill for a household.
##The per-unit charges in rupees are as follows:
##For the first 100 units, the user will be charged Rs. 4.5 per unit,
##for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units,
##the user will be charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit.

In [9]:
units = int(input("Enter Consumption Unit"))
if units <= 100:
    charges = 100*4.5
elif units>100 and units<200:
    charges = 100*4.5 + (units - 100)*6
elif units>200 and units<300:
    charges = 100*4.5 + 100*6 + (units - 200)*10
else:
    charges = 100*4.5 + 100*6 + 100*10 +(units- 300)*20
print("Total Bill:" , charges)

Enter Consumption Unit 310

Total Bill: 2250.0

In [10]:
##Q4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each number and  
##if the cube of that number is divisible by 4 or 5 then append that number in a list and print that list.

In [11]:
l1 = list(range(1,101))

In [12]:
cubes = []
for i in l1:
    cube = i**3
    if cube%4 == 0 or cube%5 == 0:
        cubes.append(i)
print(cubes)

[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

In [13]:
cubes = []
i = 1
while i<= 100:
    cube = i**3
    if cube%4 == 0 or cube%5 == 0:
        cubes.append(i)
    i = i+1
print(cubes)

[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

In [14]:
##Q5. Write a program to filter count vowels in the below-given string.
##string = "I want to become a data scientist"

In [15]:
s =  "I want to become a data scientist"
vowel = "aeiouAEIOU"

count = 0
for i in s:
    if i in vowel :
        count = count+1
print(count)

12